<html>
  <head>
    <!-- Material Design Lite -->
    <!-- <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="prototype.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="fixed-header-drawer-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="fixed-header-drawer-exp">
            </div>
          </div>
        </div>
      </header>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Material</th>
          <th>Chemical Name</th>
          <th>Storage Location</th>
          <th>MSFS ref</th>
          <th>ID #</th>
          <th>Volume</th>
          <th>Unit</th>
          <th>Surplus</th>
          <th>Storage Code</th>
          <th>Company Name</th>
          <th>Catalog</th>
          <th>Order Date</th>
          <th>Expiration Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
          <td>0.5M EDTA PH 8.0</td>
          <td>579 Buffer Shelf  </td>
          <td>14,267,147</td>
          <td>1207739</td>
          <td>20.00</td>
          <td>ml</td>
          <td>No</td>
          <td>N (1, 4)</td>
          <td>INVITROGEN</td>
          <td>AM9261</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
          <td>1 M MGCL2</td>
          <td>579 Buffer Shelf</td>
          <td>20,266,885</td>
          <td>2287642</td>
          <td>100.00</td>
          <td>ml</td>
          <td>No</td>
          <td>N (1, 4)</td>
          <td>AMBION, INC (LIFE TECHNOLOGIES, APPLIED BIOSYSTEMS)</td>
          <td>AM9530G</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>
